<div class = "container">
  <div class = "row">
    <div class = "col">
      <h1 class = "text-center">ログイン</h1>
      <h4 class = "text-center">会員の方はこちらからログイン</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class = "table">
          <tr>
            <th class = "text-center"><%= f.label :email %></th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
          </tr>

          <tr>
            <th class = "text-center"><%= f.label :password %></th>
            <th><%= f.password_field :password, autocomplete: "current-password" %></th>
          </tr>

       
        </table>
          <h3 class="actions text-center">
            <%= f.submit "ログイン" %>
          </h3>
      <% end %>
      <h6 class = "text-center mt-5"><strong>会員登録がお済みでない方は<%= link_to "こちら", new_customer_registration_path %>から新規登録をおこなってください</strong></h6>
    </div>
  </div>
</div>