<div class = "container">
  <div class = "row">
    <div class = "col">
      <h2 class = "text-center mt-5">商品一覧（全<%= @amount %>件）</h2><br>
      <table class = table>
        <tr class = "card-deck">
          <% @items.each do |item| %>
          <th class = "card-body text-center">
            <%= link_to item_path(item) do%>
　　　　　　<%= image_tag item.get_image, size: "100x100" %> 
            <% end %>
            <p><%= item.name %></p>
            <p><%= (item.price*1.1).floor.to_s(:delimited, delimiter: ',') %>円</p>
          </th>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>