<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-lg bg-light">
      <nav class="navbar">
      <div class="container">
        <ul class="nav nav-tabs">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to customer_path(current_customer), class:"nav-link mx-2 text-dark" do %>
                <span><i class="fas fa-user"></i> My page </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to items_path, class:"nav-link mx-2 text-dark" do %>
                <span><i class="fas fa-birthday-cake"></i> 商品一覧 </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to cart_items_path, class:"nav-link mx-2 text-dark" do %>
                <span><i class="fas fa-shopping-cart"></i> カート </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link text-dark" do %>
                <span><i class="fas fa-sign-out-alt"></i> ログアウト </span>
              <% end %>
            </li>

          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_items_path, class:"nav-link text-dark" do %>
                <span><i class="fas fa-birthday-cake"></i> 商品一覧 </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_customers_path, class:"nav-link text-dark" do %>
                <span><i class="fas fa-users"></i> 会員一覧 </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_root_path, class:"nav-link text-dark" do %>
                 <span><i class="fas fa-users"></i> 注文履歴一覧 </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_genres_path, class:"nav-link text-dark" do %>
                <span><i class="fas fa-tablet-alt"></i> ジャンル一覧 </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link text-dark" %>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to about_path, class:"nav-link mx-2 text-dark" do %>
                <span><i class="fas fa-address-card"></i> About </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to items_path, class:"nav-link text-dark" do %>
                <span><i class="fas fa-birthday-cake"></i> 商品一覧 </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class:"nav-link mx-2 text-dark" do %>
                <span><i class="fas fa-user-plus"></i> Sign Up </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path, class:"nav-link mx-2 text-dark" do %>
                <span><i class="fas fa-sign-in-alt"></i> Log in </span>
              <% end %>
            </li>
          <% end %>
        </ul>
        </nav>
    </header>
      <main class="xl-auto lg-auto md-auto">
          <%= yield %>
        </div>
      </main>
  </body>
</html>